#aniimated-thumbnials .item a.remove {
  position: absolute;
  right: 25px;
  top: 9px;
  z-index: 99;
  border-radius: 6px;
  display: block;
  width: 30px;
  height: 30px;
  background: #ffffff;
  padding: 5px;
  text-align: center;
}
#aniimated-thumbnials .item a.remove:hover {
  background: var(--link-color);
  color: #fff;
}
#aniimated-thumbnials .img-thumbnail {
  max-height: 185px;
}
