.summary-subtotal,
.summary-total,
.summary-vat {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.summary-bank-option ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.summary-bank-option ul li {
  background: #fff;
  padding: 0 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #ccc;
  display: flex;
  align-items: center;
}

.summary-bank-option ul li:hover {
  box-shadow: 0 0 2px #f3ce16;
}
.summary-bank-option ul li label {
  width: 100%;
  cursor: pointer;
  padding: 10px;
}
