.payment-momo {
  background: linear-gradient(to right, #f3ce16, #f7f09d, #4b94cb);
}
.qrcode_scan_container {
  margin-top: 10px;
  padding: 15px;
  background-color: white;
  width: 280px;
  height: 280px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 20px;
}
.qrcode_scan {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.qrcode_gradient {
  position: absolute;
  opacity: 0.6;
  width: 98%;
  height: 98%;
  top: 1%;
  left: 1%;
  z-index: 6;
  -webkit-transform: translate3d(0, -110%, 0);
  -moz-transform: translate3d(0, -110%, 0);
  transform: translate3d(0, -110%, 0);
  -webkit-animation: QRCodeScan 3s infinite cubic-bezier(0.45, 0.03, 0.81, 0.63);
  -moz-animation: QRCodeScan 3s infinite cubic-bezier(0.45, 0.03, 0.81, 0.63);
  -o-animation: QRCodeScan 3s infinite cubic-bezier(0.45, 0.03, 0.81, 0.63);
  animation: QRCodeScan 3s infinite cubic-bezier(0.45, 0.03, 0.81, 0.63);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.qrcode_border {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0.9;
  pointer-events: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.qrcode_image {
  width: 100%;
}
.qrcode_image img {
  width: 100%;
}
.image-qr-code {
  border-radius: 12px;
  width: 350px;
  padding: 10px;
  box-shadow: 0 2px 16px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.h-6 {
  height: 1.5rem;
}

.w-6 {
  width: 1.5rem;
}
.payment-cta h1 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.expire-content {
  margin-top: 16px;
  border-radius: 8px;
}

.expire-content .box-expire {
  background-color: rgb(255 240 246);
}
.expire-content .box-expire {
  border-radius: 8px;
}
.expire-content .box-expire .expire-text {
  color: rgb(216 45 139);
}

.expire-content .box-expire .expire-text {
  padding: 13px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #fa8c16;
}
.expire-content .box-expire .expire-text p {
  margin-top: auto;
  margin-bottom: 0.1rem;
}
.time-box {
  padding: 1.5rem !important;
  margin: 12px 7px 0 7px;
  border-radius: 8px;
  background-color: #ffe7ba;
}
.time-box p {
  font-size: 13px;
  font-weight: normal;
}
.expire-content .box-expire .time-box {
  background-color: #f3d4e6;
}
@-webkit-keyframes QRCodeScan {
  0% {
    -webkit-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
}

@-moz-keyframes QRCodeScan {
  0% {
    -moz-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
  }
  90% {
    -moz-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  100% {
    -moz-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
}

@-o-keyframes QRCodeScan {
  0% {
    transform: translate3d(0, -110%, 0);
  }
  90% {
    transform: translate3d(0, 30%, 0);
  }
  100% {
    transform: translate3d(0, 30%, 0);
  }
}

@keyframes QRCodeScan {
  0% {
    -webkit-transform: translate3d(0, -110%, 0);
    -moz-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 30%, 0);
    -moz-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 30%, 0);
    -moz-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
}
